APP_ENV=prod
PORT=0.0.0.0:8080
POSTGRES_DB=db_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
DATABASE_URL=postgres://username:password@db:5432/db_name?options=--search_path=public
JWT_SECRET=SECRET
RUST_LOG=warn,actix_web=info,jb_api=info
MASTER_USERNAME=name
MASTER_PASSWORD=12345678
MASTER_EMAIL=email@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=youremail@gmail.com
SMTP_PASSWORD="xxxx xxxx xxxx xxxx"