PORT=0.0.0.0:8080
POSTGRES_DB=db_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://username:password@db:5432/db_name?options=--search_path=public
JWT_SECRET=SECRET
RUST_LOG=warn,actix_web=info